1.Write a program to print "Hello Python" ten times?

In [1]:
i=1 
while i<=10:
    print("Hello Python")
    i=i+1

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

2.Write a program to print number from 1 to 1o?

In [2]:
i=1 
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

3.Write a program to print sum of first ten number?

In [11]:
i=1
sum=0
while i<=10:
    sum=sum+i
    i=i+1
print(sum)

55

4.Write a program to print n number entered by user?

In [12]:
n=int(input("enter a number"))
i=1 
while i<=n:
    print(i)
    i=i+1

enter a number15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

5.Write a program to print sum of n number?

In [5]:
n = int(input("Enter the value of n: "))
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1
print("The sum of ", n, "numbers is:", sum)

Enter the value of n: 12
The sum of  12 numbers is: 78

6.Write a program to print table of a number?

In [6]:
i=1
num=int(input("enter a number"))
while i<=10:
    print(num,"*",i,"=",i*num)
    i+=1

enter a number6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7.Write a program to calculate the factorial of a number?

In [7]:
n = int(input("Enter a number: "))
fact = 1
i = 1
while i <= n:
    fact *= i
    i += 1
print("The factorial of", n, "is:", fact)

Enter a number: 6
The factorial of 6 is: 720

8.Write a program to print even number between 1 to 100?

In [8]:
i=1
while i<=100:
    if i%2==0:
        print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

9.Write a program to print odd number between 1 to 100

In [9]:
i=1
while i<=100:
    if i%2!=0:
        print(i)
    i+=1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

10.write a program to check whether a given number is palindrom or not?

In [19]:
num=int(input("enter a number: "))
temp=num
rev=0
while temp!=0:
    digit=temp%10
    rev=(rev* 10)+digit
    temp//=10
if num==rev:
    print(num,"is palindrom")
else:
    print(num, "is not palindrom")

enter a number: 45
45 is not palindrom

11.write a program to find factors of a number?

In [8]:
num=int(input("enter a number: "))
i=1
while i<=num:
    if num%i == 0:
        print(i)
    i+=1

enter a number: 4
1
2
4

12.write a program to print the reverse number?

In [9]:
num=int(input("enter a number"))
rev_num=0
while num>0:
    digit=num%10
    rev_num=(rev_num*10)+digit
    num=num//10
print("reverse number",rev_num)

enter a number34
reverse number 43

13.write a program to print the sum of a reverse number?

In [11]:
num=int(input("enter a number"))
rev_num=0
while num>0:
    digit=num%10
    rev_num=(rev_num*10)+digit
    num=num//10
print("reverse of number",rev_num)
total=0
while rev_num>0:
    digit=rev_num%10
    total=total+digit
    rev_num=rev_num//10
print("sum of number",total)

enter a number34
reverse of number 43
sum of number 7

14.Write a program to check whether a given number is prime or not?

In [21]:
num=int(input("enter a number: "))
i=2
is_prime=True
while i<num:
    if num%1 == 0:
        is_prime = False
        break
    i += 1
if is_prime:
    print(num,"is a prime number")
else:
    print(num,"is not a prime number")

enter a number: 56
56 is not a prime number

15.Write a program to print prime number between 1 to 100?

In [1]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True
for num in range(1, 101):
    if is_prime(num):
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

16.Write a program to print cube of all numbers from 1 to given number?

In [2]:
x=int(input("Enter a number "))
num= 1
while num<=x:
    print(num**3)
    num+= 1

Enter a number 4
1
8
27
64

17.Write a program to print fallowing number partten:

a)1
  12
  123
  1234
  12345

In [3]:
for i in range(1,6): 
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

b)1
  22
  333
  4444
  55555

In [4]:
for i in range(1,6): 
    for j in range(1,i+1):
        print(i,end="")
    print()

1
22
333
4444
55555

c)54321
  5432
  543
  54
  5

In [5]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end='')
    print()

54321
4321
321
21
1

d)12345
  1234
  123
  1

In [6]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end='')
    print()
print(1)

12345
1234
123
12
1
1

e)54321
  4321
  321
  21
  1

In [7]:
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end='')
    print()
print(1)

54321
4321
321
21
1
1

In [2]:
for i in range(5): 
    for j in range(i+1): 
        print(chr(65+j),end="")
    print()

A
AB
ABC
ABCD
ABCDE

In [4]:
for i in range(5): 
    for j in range(i+1): 
        print(chr(65+i),end="")
    print()

A
BB
CCC
DDDD
EEEEE

18.Write a program to print the fallowing number partten using loop.

a)

In [6]:
for i in range(5):
    for j in range(i+1):
        print(chr(65+i),end="")
    print()

A
BB
CCC
DDDD
EEEEE

b)

In [7]:
for i in range(5):
    for j in range(i+1):
        print(chr(65+j),end="")
    print()

A
AB
ABC
ABCD
ABCDE

In [14]:
for i in range(5,0,-1):
    for j in range(i):
        print(chr(65+j),end="")
    print()

ABCDE
ABCD
ABC
AB
A

In [1]:
for i in range(5, 0, -1):
    for j in range(i):
        print(chr(65+i), end="")
    print()

FFFFF
EEEE
DDD
CC
B

19.Write a pogram to print fallowing partten:

In [4]:
for i in range(5):
    for j in range(i+1):
        print('*',end="")
    print()

*
**
***
****
*****

In [7]:
for i in range(5):
    print('*****')

*****
*****
*****
*****
*****

In [8]:
for i in range(5, 0, -1):
    for j in range(i):
        print('*', end="")
    print()

*****
****
***
**
*

In [11]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

                                       # FUNCTION

1.Write a function to find maximum of three numbers?

In [17]:
def max(a,b,c):
    max_num=a
    if b>max_num:
        max_num=b
    if c>max_num:
        max_num=c
    return max_num
print(max(6,4,8))

8

2.Write a function to sum all the number in a list?

In [20]:
def sum(num):
    total = 0
    for number in num:
        total += number
    return total
numbers1 = [1, 2, 3, 4, 5]

print(sum(numbers1))

15

3.Write a function to multiply all the number in a list?

In [21]:
def multiply(num):
    result = 1
    for number in num:
        result *= number
    return result
numbers1 = [1, 2, 3, 4, 5]

print(multiply(numbers1))

120

4.Write a function to reverse string?

In [22]:
def reverse(string):
    return string[::-1]
string = "india"
print(reverse(string))

aidni

5.Write a function to calculate the factorial of numbers?

In [23]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
print(factorial(5))

120

6.Write a function that accepts a string and calculate the numbers of upper case letter and lower case letters?

In [24]:
def count_upper_lower(string):
    upper_count = 0
    lower_count = 0
    for char in string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    return (upper_count, lower_count)
string = "eXaMple"
print(count_upper_lower(string))

(2, 5)

7.Write a function that takes a list and returns a new list with unique element of the first list?

In [1]:
def get_unique_list(input_list):
    unique_set = set(input_list)
    unique_list = list(unique_set)
    return unique_list
list1 = [;apple, 2, 3, 4, 4, 5, 5, 5, 6, 6, 7]
print(get_unique_list(list1))

[1, 2, 3, 4, 5, 6, 7]